<template>
<div>
    <div class="flex justify-between">
    <h1
      class="text-4xl font-black text-gray-600 focus:outline-none"
    >
      Entre na sua conta
    </h1>
    <button
      @click="close"
      class="text-4xl text-gray-8000"
    >
      &times;
    </button>

  </div>
      <div class="mt-16">
    <form @submit.prevent="handleSubmit()">
      <label class="block">
        <span class="text-lg font-medium text-gray-800">E-mail</span>
        <input
        v-model="state.email.value"
        type="email"
        :class="{
          'border-brand-danger': !!state.email.errorMessage
        }"
        class="block w-full px-4 py-3 mt-1 bg-gray-100 border-transparent rounded"
        placeholder="jhondoe@mail.com"
        >
        <span
          v-if="!!state.email.errorMessage"
          class="block font-medium text-brand-danger"
        >
          {{ state.email.errorMessage }}
        </span>
      </label>
      <label class="block mt-9">
        <span class="text-lg font-medium text-gray-800">Senha</span>
        <input
        v-model="state.password.value"
        type="password"
        :class="{
          'border-brand-danger': !!state.password.errorMessage
        }"
        class="block w-full px-4 py-3 mt-1 bg-gray-100 border-transparent rounded"
        placeholder="**********"
        >
        <span
          v-if="!!state.password.errorMessage"
          class="block font-medium text-brand-danger"
        >
          {{ state.password.errorMessage }}
        </span>
      </label>
      <button
        :disabled="state.isLoading"
        type="submit"
        :class="{
          'opacity-50': state.isLoading
        }"
        class="px-8 py-3 mt-10 font-bold text-white  rounded-full bg-brand-main focus:outline-none transiton-all duration-150"
      >
      <Icon v-if="state.isLoading" name="loading" class="animate-spin"/>
      <span v-else>Entrar</span>
      </button>
    </form>
  </div>
</div>

</template>

<script>
import { reactive } from '@vue/reactivity'
import useModal from '../../hooks/useModal'
import Icon from '../../components/Icon/Index.vue'
import useRouter from '@vue/cli-plugin-router'
import { useField } from 'vee-validate'
import { useToast } from 'vue-toastification'
import { validadeEmptyAndLenth3, validadeEmptyAndEmail } from '../../utils/validators.js'
import services from '../../services'

export default {
  components: { Icon },
  setup () {
    const router = useRouter()
    const modal = useModal()
    const toast = useToast()

    const {
      value: emailValue,
      errorMessage: emailErrorMessage
    } = useField('email', validadeEmptyAndEmail)
    const {
      value: passwordValue,
      errorMessage: passwordErrorMessage
    } = useField('password', validadeEmptyAndLenth3)
    const state = reactive({
      hasError: false,
      isLoading: false,
      email: {
        value: emailValue,
        errorMessage: emailErrorMessage
      },
      password: {
        value: passwordValue,
        errorMessage: passwordErrorMessage
      }
    })
    async function handleSubmit () {
      try {
        toast.clear()
        state.isLoading = true
        const { data, errors } = await services.auth.login({
          email: state.email.value,
          password: state.password.value
        })
        if (!errors) {
          window.localStorage.setItem('token', data.token)
          router.push({ name: 'Feedbacks' })
          state.isLoading = false
          modal.close()
          return
        }
        if (errors.status === 404) {
          toast.error('E-mail não encotrado.')
        }
        if (errors.status === 401) {
          toast.error('E-mail/senha invalidos.')
        }
        if (errors.status === 400) {
          toast.error('Ocorreu um erro ao fazer o login.23')
        }
        state.isLoading = false
      } catch (error) {
        state.isLoading = false
        state.hasError = !!error
        toast.error('Ocorreu um erro ao fazer o login.2323')
      }
    }
    return {
      state,
      close: modal.close,
      handleSubmit
    }
  }
}
</script>
