<template>
<div>
  <div class="bg-green-500 ">
    <div class="rounded-t-xl overflow-hidden from-light-blue-50 to-light-blue-100 p-10">
      <div class="mt-5 md:mt-0 ">
        <form action="#" method="POST">
          <div class="shadow sm:rounded-md sm:overflow-hidden ">
            <div>
    <div class="flex justify-between">
    <h1
      class="text-4xl font-black text-gray-600 focus:outline-none"
    >
      Envie uma mensagem
    </h1>

  </div>
      <div class="mt-5">
    <form @submit.prevent="messageSubmit()">
      <label class="block">
        <span class="text-lg font-medium text-gray-800">Telefone</span>
        <input
        v-model="state.number.value"
        type="number"
        :class="{
          'border-brand-danger': !!state.number.numberErrorMessage
        }"
        class="block w-full px-4 py-3 mt-1 bg-gray-100 border-transparent rounded"
        placeholder="5538999999999"
        >
        <span
          v-if="!!state.number.numberErrorMessage"
          class="block font-medium text-brand-danger"
        >
          {{ state.number.numberErrorMessage }}
        </span>
      </label>
      <label class="block mt-9">
        <span class="text-lg font-medium text-gray-800">Mensagem</span>
        <input
        v-model="state.message.value"
        type="text"
        :class="{
          'border-brand-danger': !!state.message.errorMessage
        }"
        class="block w-full px-4 py-3 mt-1 bg-gray-100 border-transparent rounded"
        placeholder="Escreva aqui sua mensagem"
        >
        <span
          v-if="!!state.message.errorMessage"
          class="block font-medium text-brand-danger"
        >
          {{ state.message.errorMessage }}
        </span>
      </label>
      <button
        :disabled="state.isLoading"
        type="submit"
        :class="{
          'opacity-50': state.isLoading
        }"
        class="px-8 py-3 mt-10 font-bold text-white  rounded-full bg-brand-main focus:outline-none transiton-all duration-150"
      >
      <Icon v-if="state.isLoading" name="loading" class="animate-spin"/>
      <span v-else>Enviar</span>
      </button>
    </form>
  </div>
</div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
</template>

<script>
import moment from 'moment'
import { reactive } from '@vue/reactivity'
import Icon from '../../components/Icon/Index.vue'
import useModal from '../../hooks/useModal'
import useRouter from '@vue/cli-plugin-router'
import { useField } from 'vee-validate'
import { useToast } from 'vue-toastification'
import { validadeEmptyAndLenth3, validadeEmptyAndNumber } from '../../utils/validators.js'
import services from '../../services'

export default {
  components: { Icon },
  setup () {
    const router = useRouter()
    const modal = useModal()
    const toast = useToast()

    const {
      value: numberValue,
      errorMessage: numberErrorMessage
    } = useField('number', validadeEmptyAndNumber)
    const {
      value: messageValue,
      errorMessage: messageErrorMessage
    } = useField('message', validadeEmptyAndLenth3)
    const state = reactive({
      hasError: false,
      isLoading: false,
      number: {
        value: numberValue,
        errorMessage: numberErrorMessage
      },
      message: {
        value: messageValue,
        errorMessage: messageErrorMessage
      }
    })
    async function messageSubmit () {
      try {
        toast.clear()
        state.isLoading = true
        const { data, errors } = await services.venon.sendMessage({
          number: state.number.value + '@c.us',
          message: state.message.value
        })
        if (!errors) {
          window.localStorage.setItem('token', data.token)
          router.push({ name: 'Feedbacks' })
          state.isLoading = false
          modal.close()
          return
        }
        if (errors.status === 404) {
          toast.error('Numero não encotrado.')
        }
        if (errors.status === 401) {
          toast.error('Numero invalido.')
        }
        if (errors.status === 400) {
          toast.error('Ocorreu um erro ao enviar a mensagem.')
        }
        state.isLoading = false
        return true
      } catch (error) {
        state.isLoading = false
        state.hasError = !!error
        toast.error('Ocorreu um erro ao enviar a mensagem.')
      }
    }
    return {
      state,
      close: modal.close,
      messageSubmit
    }
  },
  methods: {
    defineTime (data) {
      /*       const nHoraInicial = new Date() */
      const momento = moment().format('HHmmss', true)
      /*  const time = nHoraInicial.getHours() + '' + nHoraInicial.getMinutes() + '' + nHoraInicial.getSeconds() */
      if (momento > 180900) {
        alert('Tempo decorrido: ' + momento + ' milisegundos')
      }
    },
    async getContacts () {
      const contatcs = await services.venon.getContacts()
      console.log(contatcs)
    }
  },
  created () {
    this.defineTime(Date.now())
    this.getContacts()
  }
}
</script>

<style>
.content{
    padding-top: 100px;
    @apply w-full flex justify-center;
}
</style>
