<template>
<div>
    <div class="flex justify-between">
    <h1
      class="text-4xl font-black text-gray-600 focus:outline-none"
    >
      Envie uma mensagem
    </h1>
    <button
      @click="close"
      class="text-4xl text-gray-8000"
    >
      &times;
    </button>

  </div>
      <div class="mt-16">
    <form @submit.prevent="wSendSubmit()">
      <label class="block">
        <span class="text-lg font-medium text-gray-800">Telefone</span>
        <input
        v-model="state.number.value"
        type="number"
        :class="{
          'border-brand-danger': !!state.number.errorMessage
        }"
        class="block w-full px-4 py-3 mt-1 bg-gray-100 border-transparent rounded"
        placeholder="5538999999999"
        >
        <span
          v-if="!!state.number.errorMessage"
          class="block font-medium text-brand-danger"
        >
          {{ state.number.errorMessage }}
        </span>
      </label>
      <label class="block mt-9">
        <span class="text-lg font-medium text-gray-800">Mensagem</span>
        <input
        v-model="state.message.value"
        type="text"
        :class="{
          'border-brand-danger': !!state.message.errorMessage
        }"
        class="block w-full px-4 py-3 mt-1 bg-gray-100 border-transparent rounded"
        placeholder="Escreva aqui sua mensagem"
        >
        <span
          v-if="!!state.message.errorMessage"
          class="block font-medium text-brand-danger"
        >
          {{ state.message.errorMessage }}
        </span>
      </label>
      <button
        :disabled="state.isLoading"
        type="submit"
        :class="{
          'opacity-50': state.isLoading
        }"
        class="px-8 py-3 mt-10 font-bold text-white  rounded-full bg-brand-main focus:outline-none transiton-all duration-150"
      >
      <Icon v-if="state.isLoading" name="loading" class="animate-spin"/>
      <span v-else>Enviar</span>
      </button>
    </form>
  </div>
</div>

</template>

<script>
import { reactive } from '@vue/reactivity'
import useModal from '../../hooks/useModal'
import Icon from '../../components/Icon/Index.vue'
import useRouter from '@vue/cli-plugin-router'
import { useField } from 'vee-validate'
import { useToast } from 'vue-toastification'
import { validadeEmptyAndLenth3, validadeEmptyAndNumber } from '../../utils/validators.js'
import services from '../../services'

export default {
  components: { Icon },
  setup () {
    const router = useRouter()
    const modal = useModal()
    const toast = useToast()

    const {
      value: numberValue,
      errorMessage: numberErrorMessage
    } = useField('number', validadeEmptyAndNumber)
    const {
      value: messageValue,
      errorMessage: messageErrorMessage
    } = useField('message', validadeEmptyAndLenth3)
    const state = reactive({
      hasError: false,
      isLoading: false,
      number: {
        value: numberValue,
        errorMessage: numberErrorMessage
      },
      message: {
        value: messageValue,
        errorMessage: messageErrorMessage
      }
    })
    async function messageSubmit () {
      try {
        toast.clear()
        state.isLoading = true
        const { data, errors } = await services.auth.login({
          number: state.number.value,
          message: state.message.value
        })
        if (!errors) {
          window.localStorage.setItem('token', data.token)
          router.push({ name: 'Feedbacks' })
          state.isLoading = false
          modal.close()
          return
        }
        if (errors.status === 404) {
          toast.error('E-mail não encotrado.')
        }
        if (errors.status === 401) {
          toast.error('E-mail/senha invalidos.')
        }
        if (errors.status === 400) {
          toast.error('Ocorreu um erro ao fazer o login.23')
        }
        state.isLoading = false
      } catch (error) {
        state.isLoading = false
        state.hasError = !!error
        toast.error('Ocorreu um erro ao fazer o login.2323')
      }
    }
    return {
      state,
      close: modal.close,
      messageSubmit
    }
  }
}
</script>
