<template>
<div>
    <div class="flex justify-between">
    <h1
      class="text-4xl font-black text-gray-600 focus:outline-none"
    >
      Crie sua conta
    </h1>
    <button
      @click="close"
      class="text-4xl text-gray-8000"
    >
      &times;
    </button>

  </div>
      <div class="mt-16">
    <form @submit.prevent="handleSubmit()">
      <label class="block">
        <span class="text-lg font-medium text-gray-800">Nome</span>
        <input
        v-model="state.name.value"
        type="text"
        :class="{
          'border-brand-danger': !!state.name.errorMessage
        }"
        class="block w-full px-4 py-3 mt-1 bg-gray-100 border-transparent rounded"
        placeholder="Jhon Doe"
        >
        <span
          v-if="!!state.name.nameErrorMessage"
          class="block font-medium text-brand-danger"
        >
          {{ state.name.nameErrorMessage }}
        </span>
      </label>
      <label class="block mt-9">
        <span class="text-lg font-medium text-gray-800">E-mail</span>
        <input
        v-model="state.email.value"
        type="email"
        :class="{
          'border-brand-danger': !!state.email.errorMessage
        }"
        class="block w-full px-4 py-3 mt-1 bg-gray-100 border-transparent rounded"
        placeholder="jhondoe@mail.com"
        >
        <span
          v-if="!!state.email.errorMessage"
          class="block font-medium text-brand-danger"
        >
          {{ state.email.errorMessage }}
        </span>
      </label>
      <label class="block mt-9">
        <span class="text-lg font-medium text-gray-800">Senha</span>
        <input
        v-model="state.password.value"
        type="password"
        :class="{
          'border-brand-danger': !!state.password.errorMessage
        }"
        class="block w-full px-4 py-3 mt-1 bg-gray-100 border-transparent rounded"
        placeholder="**********"
        >
        <span
          v-if="!!state.password.errorMessage"
          class="block font-medium text-brand-danger"
        >
          {{ state.password.errorMessage }}
        </span>
      </label>
      <button
        :disabled="state.isLoading"
        type="submit"
        :class="{
          'opacity-50': state.isLoading
        }"
        class="px-8 py-3 mt-10 font-bold text-white  rounded-full bg-brand-main focus:outline-none transiton-all duration-150"
      >
      Entrar
      </button>
    </form>
  </div>
</div>

</template>

<script>
import { reactive } from '@vue/reactivity'
import useModal from '../../hooks/useModal'
import { useField } from 'vee-validate'
import { validadeEmptyAndLenth3, validadeEmptyAndEmail } from '../../utils/validators.js'

export default {
  setup () {
    const modal = useModal()
    const {
      value: emailValue,
      errorMessage: emailErrorMessage
    } = useField('email', validadeEmptyAndEmail)
    const {
      value: nameValue,
      errorMessage: nameErrorMessage
    } = useField('name', validadeEmptyAndLenth3)
    const {
      value: passwordValue,
      errorMessage: passwordErrorMessage
    } = useField('password', validadeEmptyAndLenth3)
    const state = reactive({
      hasError: false,
      isLoading: false,
      name: {
        value: nameValue,
        errorMessage: nameErrorMessage
      },
      email: {
        value: emailValue,
        errorMessage: emailErrorMessage
      },
      password: {
        value: passwordValue,
        errorMessage: passwordErrorMessage
      }
    })
    function handleSubmit () {

    }
    return {
      state,
      close: modal.close,
      handleSubmit
    }
  }

}
</script>
