<template>
    <teleport to="body">
        <div
            v-if="state.isActive"
            class="fixed top-0 left-0 z-50 flex items-center justify-center w-full h-full bg-black bg-opacity-50"
            @click="handleModalToggle({ status: false })"
        >
            <div
            class="fixed mx-10"
            :class="state.width"
            @click.stop
            >
            <!-- //flex flex-col overvflow-hidden  rounded-lg  -->
                <div class="flex flex-col overflow-hidden rounded-lg bg-white animate__animated animate__fadeInDown animate__faster">
                    <div class="flex flex-col px-12 py-10 bg-white">
                        <component :is="state.component" />
                    </div>
                </div>
            </div>
        </div>
    </teleport>
</template>

<script>
import { reactive } from '@vue/reactivity'
import { defineAsyncComponent, onBeforeUnmount, onMounted } from '@vue/runtime-core'
import useModal from '../../hooks/useModal'

const ModalLogin = defineAsyncComponent(() => import('../ModalLogin/Index.vue'))
const ModalAccountCreate = defineAsyncComponent(() => import('../ModalAccountCreate/Index.vue'))

const DEFALT_WIDTH = 'w-3/4 lg:w-1/3'
export default {
  components: {
    ModalLogin,
    ModalAccountCreate
  },
  setup () {
    const modal = useModal()
    const state = reactive({
      isActive: false,
      component: {},
      props: {},
      width: DEFALT_WIDTH
    })
    onMounted(() => {
      modal.listen(handleModalToggle)
    })
    onBeforeUnmount(() => {
      modal.off(handleModalToggle)
    })
    function handleModalToggle (payload) {
      if (payload.status) {
        state.component = payload.component
        state.props = payload.props
        state.width = payload.width ?? DEFALT_WIDTH
      } else {
        state.component = {}
        state.props = {}
        state.props = DEFALT_WIDTH
      }
      state.isActive = payload.status
    }
    return {
      state,
      handleModalToggle
    }
  }
}
</script>
