<template>
  <div>
    <router-view />
    <modal-factory />
  </div>
</template>

<script>
import ModalFactory from './components/ModalFactory/Index.vue'

export default ({
  components: { ModalFactory }
})
</script>
