<template>
  <header class="header">
      <div class="header-group">
        <div class="flex items-center justify-between py-10">
          <div class="w-28 lg:w-36">
              <img class="w-full" src="../../assets/images/logo_white.png" alt="Logo">
          </div>
          <div class="flex">
              <button
                @click="() => emit('create-account')"
                class="px-6 py-2 font-bold rounded-full text-white focus:outline-none"
              >
                  Venon Bot
              </button>
            <button
                @click="() => emit('send-message')"
                class="px-6 py-2 font-bold bg-white rounded-full text-brand-main focus:outline-none"
              >
                  Enviar Mensagem
              </button>
          </div>
        </div>
      </div>
  </header>
</template>

<script>
export default {
  setup (_, { emit }) {
    return { emit }
  }
}
</script>
<style lang="postcss" scoped>
.header{
    @apply bg-brand-main w-full flex justify-center;
    height: 700px;
}
.header-group{
    @apply flex flex-col w-4/5 max-w-6xl
}
@media(min-width: 640px){
    .header-group{
        background-size: 628px;
        background-position: 95% 100%;
        background-repeat: no-repeat;
    }
}
</style>
