<template>
    <CustomHearder
      @create-account="handleAccountCreate"
      @send-message="sendMessage"
    />
</template>

<script>
import CustomHearder from './CustomHeader.vue'
import { onMounted } from '@vue/runtime-core'
import { useRouter } from 'vue-router'
import useModal from '../../hooks/useModal'

export default {
  components: { CustomHearder },
  setup () {
    const router = useRouter()
    const modal = useModal()
    onMounted(() => {
      const token = window.localStorage.getItem('token')
      if (token) {
        router.push({ name: 'Feedbacks' })
      }
    })
    function sendMessage () {
      modal.open({
        component: 'ModalWSendMessage'
      })
    }
    function handleAccountCreate () {
      modal.open({
        component: 'ModalAccountCreate'
      })
    }
    return {
      sendMessage,
      handleAccountCreate
    }
  }
}
</script>

<style>
h1{
    @apply bg-brand-main w-full flex justify-center;
    height: 700px;
}
</style>
